DATABASE_URL=postgresql://USER:PASSWORD@HOST/gedep?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST/gedep?sslmode=require
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL_S3=
AWS_REGION=us-east-2
SUBMISSIONS_BUCKET=gedep-submissions
NEXT_PUBLIC_SITE_URL=http://localhost:3000
